.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.nav-main {
    background-color: #000000;
    padding: 15px;


}

.nav-main a {
    color: white;
    text-decoration: none;
    padding-left: 25px;
    font-size: 1.4rem;
    font-family: 'Bebas Neue';
}

.nav-main a:nth-child(5) {
    color: #1085df;
}

h1 {
    padding-top: 25px;
    color: #94180e;
    font-size: 4rem;
    padding-bottom: 25px;
    font-family: 'Bebas Neue';
    padding-left: 12%;
}

h5 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    font-size: 1.3rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: 300;
}

.card-one {
    width: 70%;
    margin-left: 25%;
}

.card-two {
    width: 70%;
    margin-right: 25%;
}

.read-more {
    display: flex;
    justify-content: end;
    font-weight: 400;
    margin-top: 10px;
}

h2 {
    padding-top: 25px;
    color: #94180e;
    font-size: 4rem;
    padding-bottom: 25px;
    font-family: 'Bebas Neue';
    padding-left: 12%;
}


.gallery img {
    width: 550px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 76%;
    margin: auto;
    gap: 1rem;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 1 / 4 / 2 / 5; }
    .div4 { grid-area: 2 / 3 / 3 / 4; }
    .div5 { grid-area: 2 / 4 / 3 / 5; }

.parent img {
    width: 100%;
}

.detailView img {
    display: block;
    width: 200%;
    margin-left: 80%;
    border-radius: 25px;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    width: 76%;
    margin-left: 6%;
}